//resetting attribs
*,
*:before,
*:after,
ul,
li,
a,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
image,
svg,
path,
g,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  list-style: none;
  position: relative;
}

@mixin size($width: inherit, $height: inherit) {
  width: $width;
  height: $height;
}

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin border-radius(
  $topLeft: 50%,
  $topRight: 50%,
  $botLeft: 50%,
  $botRight: 50%
) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $botLeft;
  border-bottom-right-radius: $botRight;
}

$deepBlue-5: #f1f3f4;
$deepBlue-100: #000c2f;
$blue-5: #f2f8ff;
$blue-80: #3394ff;
$blue-100: #007aff;
$login-container-shadow: 0 1px 3px rgba(0, 0, 0, 0.06),
  0 1px 2px rgba(0, 0, 0, 0.12);
$button-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.12);

html,
body {
  background: rgb(242, 248, 255);
  background: linear-gradient(
    0deg,
    rgba(242, 248, 255, 1) 4%,
    rgba(0, 122, 255, 1) 100%
  );
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.App {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  min-width: 250px;
  max-width: 800px;
  display: grid;
  place-items: center;
  border: 1px solid $deepBlue-5;
}
.login-container {
  @include size(400px, auto);
  @include flex(center, center, column);

  margin: 0 auto;
  background-color: white;
  box-shadow: $login-container-shadow;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 10px;

  .title {
    padding: 60px 0;
    padding-bottom: 10px;
  }

  .taskButton,
  button {
    @include border-radius(5px, 5px, 5px, 5px);
    @include size(250px, auto);
    padding: 20px 15px;
    background-color: $blue-100;
    color: #fff;

    margin: 40px 0;

    &:hover,
    &:focus {
      box-shadow: 0px 3px 20px 3px rgba($blue-100, 0.3);
      background-color: $blue-100;
    }
  }
}
.fluid-input {
  @include border-radius(5px, 5px, 5px, 5px);
  @include size(80%, 50px);
  min-width: 250px;
  max-width: 450px;
  position: relative;
  background-color: $deepBlue-5;

  &:focus {
    outline: 1px;
    box-shadow: $login-container-shadow;
  }
}
.todo-input {
  @include border-radius(5px, 5px, 5px, 5px);
  @include size(80%, 50px);
  margin-left: 50px;
  min-width: 250px;
  max-width: 450px;
  position: relative;
  background-color: $deepBlue-5;

  &:focus {
    outline: 1px;
    box-shadow: $login-container-shadow;
  }
}
.todoList {
  @include border-radius(5px, 5px, 5px, 5px);
  min-width: 250px;
  max-width: 800px;
  background-color: $blue-5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $deepBlue-5;
  margin-bottom: 20px !important;
  padding: 5px;
  padding-left: -32px;

  &:hover {
    outline: none;
    box-shadow: $login-container-shadow;
  }
}
.title {
  align-items: center;
  padding: 10px 0;
}
.links {
  color: $deepBlue-100;
  text-decoration: none;
  &:hover {
    color: $blue-80;
  }
}
